@page "{id:int}"
@model CRUD.Pages.DetailsModel
@using CRUD.Models
@{
	ViewData["Title"] = "Details";
}

<body style="background-color:#FFFBE1;">

<h1>Details Page</h1>

<table class="table">
	<tr>
		<td>Employee Id : @Html.DisplayFor(model =>model.DisplayRecord.Empid)</td>
	</tr>
	<tr>
		<td>Employee Name : @Html.DisplayFor(model =>model.DisplayRecord.Empname)</td>
	</tr>
	<tr>
		<td>Email : @Html.DisplayFor(model =>model.DisplayRecord.Email)</td>
	</tr>
	<tr>
		<td>Age : @Html.DisplayFor(model =>model.DisplayRecord.Age)</td>
	</tr>
	<tr>
		<td>Salary : @Html.DisplayFor(model =>model.DisplayRecord.Salary)</td>
	</tr>
</table>

<a asp-page="Index">Back to List</a>

</body>